  .row {
      border: 1px solid #ADD8E6;
      display: flex;
      clear: both;
  }
  
  .column {
      float: left;
      border: 1px solid #ADD8E6;
  }
  
  .left {
      background-origin: padding-box;
      background-image: url('background1.jpg');
      flex: 50%;
  }
  
  .right {
      flex: 50%;
  }
  
  .split {
      border-right: 2px solid bisque;
  }
  
  .table_headers {
      text-align: center;
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-size: 18px;
      font-style: italic;
      font-weight: bold;
      font-variant: small-caps;
      color: whitesmoke;
      text-shadow: 1px 1px gray;
  }
  
  .first_paragraph {
      text-indent: 10%;
      text-align: justify;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-size: 15px;
      color: black;
  }
  
  .second_paragraph {
      text-indent: 10%;
      text-align: justify;
      font-style: italic;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 14px;
      color: white;
      background-color: rgba(0, 0, 0, 0.15);
      text-shadow: 0.5px 0.5px black;
  }
  
  table {
      table-layout: fixed;
      width: 100%;
  }
  
  table td,
  th {
      padding: 10px;
  }